COMPOSE_PROJECT_NAME=soel_cms

# ---------- ローカル環境の設定 ----------
# ------- docker-compose.ymlで立てたpostgresの設定 -------
# postgresの設定
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
# 初期データベースの設定
USER_ID=
USER_EMAIL=
SAMPLE_BRAND_ID=
BRAND_NAME=
GOOGLE_ACCOUNT_ID=
GOOGLE_LOCATION_ID=