COMPOSE_PROJECT_NAME=soel_cms

# ---------- ローカル環境の設定 ----------
# ------- docker-compose.ymlで立てたpostgresの設定 -------
# postgresの設定
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
# 初期データベースの設定
SAMPLE_USER_ID=
SAMPLE_USER_EMAIL=
SAMPLE_BRAND_ID=
SAMPLE_BRAND_NAME=
SAMPLE_STORE_NAME=
SAMPLE_STORE_PREFECTURE=
SAMPLE_GOOGLE_ACCOUNT_ID=
SAMPLE_GOOGLE_LOCATION_ID=