export FACEBOOK_CLIENT_ID=
export FACEBOOK_CLIENT_SECRET=
export FACEBOOK_SCOPE=ads_management,ads_read

export GOOGLE_CLIENT_ID=
export GOOGLE_CLIENT_SECRET=
export GOOGLE_SCOPE=openid,profile,https://www.googleapis.com/auth/business.manage

export POSTGRES_USER=user
export POSTGRES_PASSWORD=password
export POSTGRES_DB=postgres
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432