@use '@/main/styles/variables' as vars;

.wrapper {
    width: 100vw;
    display: flex;
    height: 100vh;
    min-height: 100vh;
    position: relative;
}

.sidebar {
    height: 100vh;
    min-height: 100vh;
    background-color: vars.$background-color-secondary;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

.content {
    flex: 1;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
}
