.wrapper {
  display: flex;
  height: 100vh;
  overflow-x: auto;
}

.sidebar {
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
}

.sidebarContent {
  overflow-y: auto;
  height: 100%;
}

.content {
  flex-shrink: 0;
  width: 1591px;
  overflow-y: auto;
}
