.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
    background-color: #fff;
    padding: 3.5rem 6rem 4rem 6rem;
    border-radius: 8px;
    box-shadow: 0px 0px 35px 9px rgba(0, 0, 0, 0.35);
    position: relative;
    width: 1004px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 32.9rem;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close_button {
    background: none;
    padding: 0;
}
