.edit_menu_container {
    flex-grow: 1;

    margin-top: 2.8rem;
}

.header_container {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 2.1rem;

    border-bottom: 0.1rem solid #282828; // TODO: あとから差し替える
}

.menu_container {
    width: 100%;
    box-sizing: border-box;

    flex-grow: 1;
    flex-basis: 0;
    overflow-y: scroll;
}

.menu_section_container {
    border-bottom: 0.3rem solid #EBEBEB;

    &:last-child {
        border-bottom: none;
    }
}

.close_icon {
    cursor: pointer;
}
