$text-color-primary: #282828;
$text-color-secondary: #787878;
$text-color-black: #000;
$text-color-gray: #828282;

$background-color-primary: #FFC42C;
$background-color-primary-light: #FFE9B2;
$background-color-primary-dark: #D69507;
$background-color-secondary: #f0f0f0;
$background-color-tertiary: #C3C3C3;
$background-color-white: #fff;
$background-color-input: #EBEBEB;
$background-color-light-gray: #D2D2D2;
$background-color-black: #282828;
