@mixin base_text {
    font-family: "Noto Sans CJK JP", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@mixin base_button {
    @include base_text;
    width: 291px;
    height: 82.65px;

    border-radius: 4.2rem;

    text-align: center;
    background-color: #FFC42C;
}

.edit_menu_container {
  flex-grow: 1;

  margin-top: 2.8rem;
}

.header_container {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 10.4rem;

  padding-bottom: 2.2rem;

  border-bottom: 0.1rem solid #282828; // TODO: あとから差し替える
}

.add_button {
    @include base_button;

    color: #282828;
    font-size: 2.5rem;
}

.menu_container {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 183px;
    gap: 2.3rem;

    margin-top: 7.7rem;
}

.menu_section_container {
    padding-bottom: 23px;
    border-bottom: 0.3rem solid #EBEBEB;

    &:last-child {
        border-bottom: none;
    }
}

.menu_section_title_container {
    gap: 1.1rem;
    margin-bottom: 1.6rem;
}

.menu_section_title_button {
    @include base_button;

    width: 82px;
    height: 49px;

    color: #000;
    font-size: 1.8rem;
}

.menu_section_items_wrapper {
    gap: 0.7rem;
}

.menu_section_item_container {
    gap: 3.8rem;
}
