.profile_container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin-top: 4.2rem;
}

.tab_container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding-bottom: 3rem;

  border-bottom: 0.1rem solid #282828;
}

.tab_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 74.4rem;
  height: 6rem;

  background-color: #EBEBEB;
  border-radius: 3rem;
}

.tab_selected {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 12.9rem;
  height: 100%;

  color: #282828;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;


  background-color: #FFC42C;
  border-radius: 3rem;
  cursor: pointer;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 12.9rem;
  height: 3.6rem;

  color: #282828;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;


  border-radius: 3rem;
  cursor: pointer;
}

.term_container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  box-sizing: border-box;
  width: 100%;

  margin-top: 4.7rem;
  padding-left: 15.1rem;
  padding-right: 15.1rem;

}

.term_wrapper {
  display: flex;
  gap: 3rem;
}

.edit_button_container {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  width: 8rem;

  margin-top: 1.7rem;
}

.edit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 4.8rem;

  color: #000;

  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  background-color: #FFC42C;
  border-radius: 3rem;
}

.edit_back_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;

  color: #000;

  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  background-color: #FFC42C;
  border-radius: 3rem;
}

.delete_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 4.8rem;

  color: #000;

  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  background-color: #EBEBEB;
  border-radius: 3rem;
}

.edit_business_hours_button_container {
  flex-shrink: 0;
  display: flex;
  gap: 1rem;
  align-items: center;

  margin-top: 1.7rem;
}

.cancel_business_hours_button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;

  color: #000;

  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  background-color: #EBEBEB;
  border-radius: 3rem;
}

.term {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.4rem;

  flex-grow: 1;
}

.term_title {
  color: #787878;

  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.term_content {
  white-space: pre-line;

  color: #282828;

  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.term_content_focus {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 63.5rem;
  padding-bottom: 1rem;

  border-bottom: 0.2rem solid #BEBEBE;
}

.term_content_input_text {
  flex-grow: 1;
  white-space: pre-line;

  color: #282828;

  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.term_content_input_textarea {
  flex-grow: 1;
  white-space: pre-line;

  color: #282828;

  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  outline: none;
  border: none;
}

.tag_container {
    display: flex;
    gap: 1rem;
  flex-wrap: wrap;
}

.tag{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.6rem;

  padding-left: 2.6rem;
  padding-right: 2.6rem;

  color: #000;

  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  background-color: #FFC42C;
  border-radius: 3rem;
}

.business_hours_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.4rem;

  flex-grow: 1;
}