@mixin base_button {
  width: 188.7px;
  height: 82.65px;

  border-radius: 4.2rem;

  color: #282828;
  text-align: center;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.edit_local_post_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 4.2rem;
}

.tab_container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding-bottom: 3rem;

  border-bottom: 0.1rem solid #282828;
}

.tab_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 70.6rem;
  height: 6rem;

  background-color: #EBEBEB;
  border-radius: 3rem;
}

.tab_selected {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25.7rem;
  height: 100%;

  color: #282828;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  background-color: #FFC42C;
  border-radius: 3rem;
  cursor: pointer;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25.7rem;
  height: 3.6rem;

  color: #282828;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;


  border-radius: 3rem;
  cursor: pointer;
}

.tab_content_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 52px;

  width: 100%;
  height: 100%;
}

.file_upload_area {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;

  width: 775px;
  height: 128px;

  background-color: #EBEBEB;

  border-radius: 15px;
  border: 1px dashed #A0A0A0;
}

.file_upload_text {
  color: #A0A0A0;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.file_upload_text {
  text-align: center;

  color: #A0A0A0;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px;
}

.select_file_button {
  @include base_button;

  width: 212px;
  height: 60px;

  font-size: 20px;

  background-color: #D2D2D2;
}

.description_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-top: 51.5px;

  width: 100%;
}

.description_text {
  width: 1336px;
  text-align: left;
  padding-left: 38px;
  box-sizing: border-box;
  color: #282828;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.description_text_area {
  resize: vertical;
  padding: 20px 38px;
  width: 1336px;
  min-height: 82px;
  height: 82px;
  max-height: 140px;
  overflow-y: auto;
  box-sizing: border-box;

  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background-color: #EBEBEB;
  border-radius: 30px;
  border: none;
}

.select_button_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-top: 40px;

  width: 100%;
}

.select_button_text {
  width: 1336px;
  text-align: left;
  padding-left: 38px;
  box-sizing: border-box;
  color: #282828;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.button__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  width: 1336px;
  height: 82px;
}

.pull_down_menu_container {
  width: 628px;
}

.submit_button {
  @include base_button;

  width: 129px;
  height: 82px;

  background-color: #FFC42C;
}