.pull_down_menu_container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 7px 20px 7px 10px;
  box-sizing: border-box;
  gap: 10px;

  background-color: #F0F0F0;

  border-radius: 1rem;
}

.pull_down_menu_content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 28px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.pull_down_menu_border {
  border-bottom: 1px solid #BEBEBE;
}

.pull_down_menu_placeholder {
  color: #A0A0A0;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pull_down_menu_input {
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #EBEBEB;

  &:hover {
    cursor: text;
  }
}

.pull_down_menu_option {
  color: #282828;
  font-family: "Noto Sans CJK JP", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.arrow {
  position: absolute;
  top: 16px;
  right: 8px;
  width: 11px;
  height: 11px;

  &:hover {
    cursor: pointer;
  }
}
