@use '@/main/styles/variables' as vars;

.button {
    cursor: pointer;
    border-radius: 4.2rem;
}

.primary {
    background-color: vars.$background-color-primary;
}

.secondary {
    background-color: vars.$background-color-secondary;
}

.tertiary {
    background-color: vars.$background-color-tertiary;
}

.white {
    background-color: vars.$background-color-white;
}

.input {
    background-color: vars.$background-color-input;
}
