@use '@/main/styles/variables' as vars;

.button {
    cursor: pointer;
    border-radius: 1rem;
}

.primary {
    background-color: vars.$background-color-primary;
}

.secondary {
    background-color: vars.$background-color-secondary;
}

.tertiary {
    background-color: vars.$background-color-tertiary;
}

.white {
    background-color: vars.$background-color-white;
}

.input {
    background-color: vars.$background-color-input;
}

.black {
    background-color: vars.$background-color-black;
}

.disabled {
    background-color: #D9D9D9;
    cursor: not-allowed;
    opacity: 0.6;
}
