.custom_checkbox {
    display: none;
}

.custom_checkbox_label {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    // flex-wrap: wrap;

    & > span:first-of-type {
        margin-right: 8px;
    }

    & > span {
        white-space: normal;
        word-break: break-word;
    }
}

.custom_checkbox_label::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('@/main/assets/UncheckedIcon.svg');
    background-size: cover;
    margin: 4px 20px 0 0;
    flex-shrink: 0;
}

.custom_checkbox:checked + .custom_checkbox_label::before {
    background-image: url('@/main/assets/CheckedIcon.svg');
}
