@use '@/main/styles/variables' as vars;

@mixin base_text {
    font-family: "Noto Sans CJK JP", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: vars.$text-color-primary;
}

.input {
    @include base_text;
    font-size: 2rem;
    box-sizing: border-box;
    background-color: vars.$background-color-input;
    border-radius: 6px;

    &::placeholder {
        color: vars.$text-color-gray;
    }
}

.fw-medium {
    font-weight: 500;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.closeButton {
    position: absolute;
    right: 3.8rem;
}
