.radio_button {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
}

.radio_input {
    display: none;
}

.radio_button::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('@/main/assets/RadioUnchecked.svg');
    background-size: cover;
    margin: 5px 10px 0 0;
    flex-shrink: 0;
}

.radio_input:checked + .radio_button::before {
    background-image: url('@/main/assets/RadioChecked.svg');
}


