@use '@/main/styles/variables' as vars;

.search_box {
    background-color: vars.$background-color-secondary;
    border-radius: 10px;
    padding: 1rem 5rem 1rem 3rem;
    font-size: 20px;
    color: #282828;
    background-color: #E3E3E3;
    background-image: url('@/main/assets/SearchIcon.svg');
    background-repeat: no-repeat;
    background-position: right 3rem center;
    background-size: 1.6rem;
    box-sizing: border-box;

    &::placeholder {
        color: #8D8D8D;
    }
}
