.separator {
    border: none;
    margin: 0;

    &.horizontal {
        border-top-style: solid;
        border-top-color: #DCDCDC;
        width: 100%;
    }

    &.vertical {
        border-left-style: solid;
        border-left-color: #DCDCDC;
        height: 100%;
    }
}
