:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: "Noto Sans CJK JP", sans-serif;
  text-decoration: none;
}
a:hover {
}

input {
    font-family: "Noto Sans CJK JP", sans-serif;
  border: none;
  padding: 0;
}

input:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Thin (100) */
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url('./fonts/NotoSansCJKjp-Thin.woff2') format('woff2'),
  url('./fonts/NotoSansCJKjp-Thin.woff') format('woff'),
  url('./fonts/NotoSansCJKjp-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Extra Light / DemiLight (200) */
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url('./fonts/NotoSansCJKjp-DemiLight.woff2') format('woff2'),
  url('./fonts/NotoSansCJKjp-DemiLight.woff') format('woff'),
  url('./fonts/NotoSansCJKjp-DemiLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url('./fonts/NotoSansCJKjp-Light.woff2') format('woff2'),
  url('./fonts/NotoSansCJKjp-Light.woff') format('woff'),
  url('./fonts/NotoSansCJKjp-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url('./fonts/NotoSansCJKjp-Regular.woff2') format('woff2'),
  url('./fonts/NotoSansCJKjp-Regular.woff') format('woff'),
  url('./fonts/NotoSansCJKjp-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url('./fonts/NotoSansCJKjp-Medium.woff2') format('woff2'),
  url('./fonts/NotoSansCJKjp-Medium.woff') format('woff'),
  url('./fonts/NotoSansCJKjp-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url('./fonts/NotoSansCJKjp-Bold.woff2') format('woff2'),
  url('./fonts/NotoSansCJKjp-Bold.woff') format('woff'),
  url('./fonts/NotoSansCJKjp-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Black (900) */
@font-face {
  font-family: 'Noto Sans CJK JP';
  src: url('./fonts/NotoSansCJKjp-Black.woff2') format('woff2'),
  url('./fonts/NotoSansCJKjp-Black.woff') format('woff'),
  url('./fonts/NotoSansCJKjp-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

